/* Importar todos los estilos */
@import './variables.css';
@import './layout.css';
@import './auth.css';
@import './games.css';
@import './home.css';
@import './profile.css';
@import './notfound.css';
